<mat-card class="card-adjustment">
    <div class="common-section">
        <button
            mat-mini-fab
            type="button"
            (click)="this.changePencilState(this.tool.Eraser)"
            [class.mat-accent]="isEraserSelected"
            name="eraser"
            color="primary"
        >
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.DELETE' | translate }}">
                <img class="icon" src="assets/eraser-icon-white.png" *ngIf="this.colorButton.eraser === 'primary'" />
                <img class="icon" src="assets/eraser-icon-black.png" *ngIf="this.colorButton.eraser === 'accent'" />
            </mat-icon>
        </button>
        <button
            mat-mini-fab
            type="button"
            (click)="changePencilState(this.tool.Pencil)"
            [class.mat-accent]="isPencilSelected"
            name="pencil"
            color="primary"
        >
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.DRAW' | translate }}">edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" type="button" (click)="changePencilState(this.tool.Rectangle)" [class.mat-accent]="isRectangleSelected">
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.CREATE_RECTANGLE' | translate }}">crop_square</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [class.mat-accent]="isEllipseSelected" type="button" (click)="changePencilState(this.tool.Ellipse)">
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.CREATE_ELLIPSE' | translate }}">panorama_fish_eye</mat-icon>
        </button>

        <input type="color" (input)="changePencilColor(colorSelector.value)" name="colorSelector" #colorSelector />
        <div class="width-container" *ngIf="this.pencil.state === this.tool.Pencil">
            <mat-slider
                min="1"
                max="5"
                step="0.5"
                [value]="this.pencil.width"
                thumbLabel
                (change)="changePencilWidth($event)"
                [displayWith]="formatLabel"
            ></mat-slider>
            <p class="pencil-width">{{ this.pencil.width }} px</p>
        </div>
        <div class="width-container" *ngIf="this.pencil.state === this.tool.Eraser">
            <mat-slider
                min="2"
                max="10"
                step="1"
                [value]="this.pencil.width"
                thumbLabel
                (change)="changePencilWidth($event)"
                [displayWith]="formatLabel"
            ></mat-slider>
            <p>{{ this.pencil.width }} px</p>
        </div>

        <button mat-mini-fab color="primary" type="button" (click)="openUploadDialog()">
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.ADD_BACKGROUND' | translate }}">image</mat-icon>
        </button>
        <button mat-mini-fab color="primary" type="button" (click)="this.drawService.resetBackground(this.canvasType)">
            <mat-icon matTooltip="{{ 'COMMON_TOOL_BOX.RESET_BACKGROUND' | translate }}">image_not_supported</mat-icon>
        </button>
        <button mat-button color="primary" type="button" (click)="changePencilState(this.tool.Bucket)" [class.mat-accent]="isPaintBucket">
            <mat-icon>format_color_fill</mat-icon>
        </button>
        <button mat-button color="primary" type="button" (click)="changePencilState(this.tool.Pipette)" [class.mat-accent]="isPipette">
            <mat-icon>colorize</mat-icon>
        </button>
    </div>
</mat-card>
