<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button routerLink="/home">
            <mat-icon>home</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <button mat-button routerLink="./list" routerLinkActive="active-link">{{ 'FRIENDS.FRIENDS_LIST' | translate }}</button>
        <button mat-button routerLink="./requests" routerLinkActive="active-link">{{ 'FRIENDS.FRIENDS_REQUEST' | translate }}</button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
