<section>
    <div class="control-buttons">
        <div class="create-game-button control-button">
            <button mat-fab color="primary" matTooltip="{{ 'ADMIN_COMMANDS.CREATE' | translate }}" aria-label="Boutton Créer" routerLink="/create">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="delete-games-button control-button">
            <button
                mat-fab
                color="primary"
                matTooltip="{{ 'ADMIN_COMMANDS.DELETE' | translate }}"
                [disabled]="!this.hasCards()"
                aria-label="Boutton supprimer"
                (click)="onClickDeleteGames()"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div class="reset-highsccore-button control-button">
            <button
                mat-fab
                color="primary"
                [disabled]="!hasCards()"
                matTooltip="{{ 'ADMIN_COMMANDS.RESET' | translate }}"
                aria-label="Boutton réinitialiser"
                (click)="onClickRefreshGames()"
            >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div class="edit-settings-button control-button">
            <button
                mat-fab
                color="primary"
                matTooltip="{{ 'ADMIN_COMMANDS.UPDATE' | translate }}"
                aria-label="Boutton Modifier"
                (click)="onClickModifySettings()"
            >
                <mat-icon>timer</mat-icon>
            </button>
        </div>
    </div>
</section>
