<div class="central-options">
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.switchForegrounds()">
        <mat-icon>
            <img class="icon" src="assets/swap-pictures-white.png" />
        </mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.redo()">
        <mat-icon> redo </mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.undo()">
        <mat-icon> undo </mat-icon>
    </button>
</div>
