<div class="grid-container statistique">
    <div class="profil-container">
        <div class="user-container">
            <div class="profile">
                <h1>{{ 'STATISTICS.TITLE' | translate }}</h1>
            </div>
            <div class="avatar-container">
                <button class="profil-btn" mat-raised-button color="primary">{{ 'STATISTICS.PLAYED_GAMES' | translate }}</button>
            </div>
            <div class="pseudonym-container">
                <button class="profil-btn" mat-raised-button color="primary">{{ 'STATISTICS.WON_GAMES' | translate }}</button>
            </div>
            <div class="theme-container">
                <button class="profil-btn" mat-raised-button color="primary">{{ 'STATISTICS.AVERAGE_DiFFERENCE' | translate }}</button>
            </div>
            <div class="language-container">
                <button class="profil-btn" mat-raised-button color="primary">{{ 'STATISTICS.AVERAGE_TIME' | translate }}</button>
            </div>
        </div>
    </div>
</div>
