<div class="grid-container statistique">
    <div class="profil-container">
        <div class="user-container">
            <div class="profile">
                <h1>Satistiques du compte</h1>
            </div>
            <div class="avatar-container">
                <button class="profil-btn" mat-raised-button color="primary">Nombre de parties jouées</button>
            </div>
            <div class="pseudonym-container">
                <button class="profil-btn" mat-raised-button color="primary">Nombre de parties gagnés</button>
            </div>
            <div class="theme-container">
                <button class="profil-btn" mat-raised-button color="primary">Moyenne de différence trouvé par partie</button>
            </div>
            <div class="language-container">
                <button class="profil-btn" mat-raised-button color="primary">Temps moyen par partie</button>
            </div>
        </div>
    </div>
</div>
