// Variables for colors
$primary-color: #333; // Dark gray
$secondary-color: #666; // Slightly lighter gray
$background-color: #fff; // Light gray background
$form-background: #dcdcdc; // White form background

.chatbox-wrapper {
    padding: 20px;
    background-color: $form-background;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Center children horizontally */
    //align-items: stretch; /* Center children vertically */
    margin: 0px 10px 0px 10px;
    flex-grow: 1;
    height: 00%;
}

.screen {
    overflow: auto; // Add a scrollbar when content overflows
    border-radius: 10px;
    padding: 10px;
    background-color: $background-color;
    flex-grow: 9.75;
    height: 100%;
    list-style: none;
}

.message-container {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

// Styling for the input box
.input-box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-grow: 0.25;
}

input[type='text'] {
    flex-grow: 1; // Allow the input field to grow to fill available space
    padding: 10px;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    font-size: 16px;
    color: $primary-color;

    &:focus {
        border-color: $primary-color;
    }
}

.icon {
    background-color: blue;
    margin-left: 10px;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(blue, 10%);
    }
}
