<div class="main-wrapper">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <span> Chat </span>
            <span class="spacer"></span>
            <button mat-icon-button color="primary" (click)="goToSearch()" class="plus-button">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-list class="list-wrapper">
        <div class="room" *ngFor="let room of rooms" (click)="selectRoom(room)">
            <span matListItemTitle class="room-name">{{ room }}</span>
        </div>
    </mat-list>
</div>
