<div class="main-wrapper">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <span>{{ 'CHAT.TITLE' | translate }}</span>
            <span class="spacer"></span>
            <button mat-icon-button color="primary" (click)="goToSearch()" class="plus-button">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="detach()" class="plus-button">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-list class="list-wrapper">
        <!-- <div class="room" *ngFor="let room of rooms" (click)="selectRoom(room)"> -->
        <app-room-card class="room" *ngFor="let room of rooms" [room]="room"></app-room-card>
        <!-- </div> -->
    </mat-list>
</div>
