<div class="canvas-container">
    <canvas id="noContentCanvas" #noContentCanvas hidden [width]="this.width" [height]="this.height"></canvas>
    <canvas id="img" #background [width]="this.width" [height]="this.height"></canvas>
    <canvas
        id="canvas"
        #foreground
        (mouseout)="leaveCanvas($event)"
        (mouseenter)="enterCanvas($event)"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="stopDrawing($event)"
        [width]="this.width"
        [height]="this.height"
    ></canvas>
    <!-- <app-rectangle-outline
        [width]="this.getRectangleSpecs().width"
        [height]="this.getRectangleSpecs().height"
        [startX]="this.getRectangleSpecs().startX"
        [startY]="this.getRectangleSpecs().width"
        *ngIf="isDrawingRectangle()"
    ></app-rectangle-outline> -->
</div>
