#canvas {
    z-index: 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.45) 0px 1px 3px;
    width: 640px;
    height: 480px;
}

#img {
    position: absolute;
    z-index: -1;
}

#noContentCanvas {
    position: absolute;
    z-index: -2;
}
.canvas-container {
    width: 640px;
    height: 480px;
}
