<main>
    <app-page-header
        [isHomeButtonEnabled]="false"
        [isSignOutButtonEnabled]="false"
        [isExitButtonEnabled]="true"
        [headerMessage]="'HEADER.WAITING_ROOM' | translate"
    ></app-page-header>
    <div class="waiting-room-container">
        <div class="dot-pulse"></div>
        <h1 class="waiting-text pulsate">{{ 'SERVER.WAITING_MESSAGE' | translate }}</h1>
    </div>
    <div class="player-list">
        <h2>List of players:</h2>
        <ul *ngIf="players.length; else noPlayers">
            <li *ngFor="let player of players">
                <img [src]="player.avatar" alt="{{ player.name }}'s avatar" width="50" height="50" />
                {{ player.name }}
            </li>
        </ul>
        <ng-template #noPlayers><p>No players in the waiting room.</p></ng-template>
    </div>
    <button (click)="quit()">Quitter la partie</button>
    <button *ngIf="isCreator" (click)="play()" [disabled]="!canStartGame">play</button>
</main>
