<main [ngClass]="favoriteTheme">
    <app-page-header [isHomeButtonEnabled]="false" [isExitButtonEnabled]="true" [headerMessage]="'Salle d\'attente'"></app-page-header>
    <div class="waiting-room-container">
        <div class="dot-pulse"></div>
        <h1 class="waiting-text pulsate">En attente d'un second joueur</h1>
    </div>
    <div class="player-list">
        <h2>List of players:</h2>
        <ul *ngIf="players.length; else noPlayers">
            <li *ngFor="let player of players">
                <img [src]="player.avatar" alt="{{ player.displayName }}'s avatar" width="50" height="50" />
                {{ player.displayName }}
            </li>
        </ul>
        <ng-template #noPlayers><p>No players in the waiting room.</p></ng-template>
    </div>
    <button (click)="play()">play</button>
</main>
