<div
    class="wrapper"
    [ngClass]="{
        'indigo-pink-theme': this.themeService.appTheme === 'Default',
        'deeppurple-amber-theme': this.themeService.appTheme === 'Alternative'
    }"
>
    <mat-form-field class="search">
        <mat-label class="search-label">{{ 'CHAT.SEARCH' | translate }}</mat-label>
        <input matInput [formControl]="search" class="search-input" />
    </mat-form-field>

    <div class="list-container">
        <mat-list class="room-list">
            <mat-list-item
                class="room"
                *ngFor="let room of $search | async"
                (click)="selectRoom(room)"
                [ngClass]="{ selected: selectedRooms.includes(room) }"
            >
                {{ room }}
            </mat-list-item>
        </mat-list>
    </div>
    <button mat-mini-fab color="primary" class="join-button" (click)="joinRooms()">
        <mat-icon>add</mat-icon>
    </button>
</div>
