.clock-icon {
    transform: scale(1.3);
}

.timer {
    display: flex;
    justify-content: center;
    margin-right: 2vw;
}

p {
    display: inline-block;
    margin-left: 7px;
    font-size: xx-large;
    vertical-align: baseline;
}

.timer-red {
    color: red;
    animation: breathing 1s ease-out infinite normal;
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}
