<div class="login-page">
    <div class="login-card">
        <form (ngSubmit)="onSubmit()" class="login-form">
            <div class="title" for="username">Login</div>
            <div class="form-group">
                <div class="input-wrapper">
                    <input
                        matInput
                        placeholder="Please enter a username"
                        type="text"
                        id="username"
                        name="username"
                        [(ngModel)]="username"
                        class="form-control form-input"
                        required
                    />
                    <button mat-icon-button type="submit" class="btn btn-primary form-btn"><mat-icon>login</mat-icon></button>
                </div>
                <div *ngIf="invalid" class="error-message">This user has already signed in</div>
                <div *ngIf="empty" class="error-message">Please enter a username</div>
            </div>
        </form>
    </div>
</div>
