.search {
    width: 100%;
    color: black;
    flex: 0 0 content;
}

.search-lsbel {
    color: black;
}

.search-input {
    color: black;
}

.selected {
    background-color: #f9cdcd;
}

button {
    align-self: flex-end;
    flex: 0 0 content;
}

// .room-list {
//     // max-height: 55%;
//     // display: flex;
//     // flex-flow: column nowrap;
//     //scroll on overflow
//     display: block;
//     overflow-block: scroll;
//     flex: 1 1 auto;
// }

mat-list {
    flex: 1 1 auto;
    overflow: auto;
}
