.header-toolbar {
    height: 10vh;
}
.space-between-buttons{
    padding-left: 5px;
    padding-right: 5px;
}

mat-toolbar {
    margin-bottom: 1vh;
}
.home-button {
    margin-right: 0.5vw;
}
.filler {
    flex: 1 1 auto;
}
