<mat-card class="card-container">
    <mat-card-title *ngIf="!isJoining" class="game-name-title">{{ getGameName() }}</mat-card-title>
    <img style="width: 266px; height: 200px" mat-card-lg-image [src]="imageSrc" />

    <mat-card-content class="highscores-content" *ngIf="!isJoining">
        <h3 class="highscore-title">
            <b>{{ 'GAME_CARD.BEST_SCORE' | translate }}</b>
        </h3>
        <div class="scores">
            <span [innerHTML]="'GAME_CARD.DIFFERENCE' | translate: { difference: getNbDifferences() }"></span>
            <!-- <app-game-score [title]="'1 vs 1'" [scores]="getMultiplayerScores()" [isMultiplayer]="true"></app-game-score> -->
        </div>
    </mat-card-content>
    <mat-card-content *ngIf="isJoining">
        <span> Joueurs : </span>
        <ul>
            <li *ngFor="let player of joinableGameCard.players">
                <app-user-avatar class="inline-avatar" [userAvatar]="player.avatar"></app-user-avatar>
                {{ player.name }} <br />
            </li>
        </ul>

        <span *ngIf="joinableGameCard.observers">
            <span> Observateur : </span>
            <span *ngFor="let observer of joinableGameCard.observers">
                <img [src]="observer.avatar" alt="{{ observer.name }}'s avatar" width="16px" height="16px" />
                {{ observer.name }} <br />
            </span>
        </span>

        <div><span>Differences: </span>{{ joinableGameCard.nbDifferences }}</div>
    </mat-card-content>

    <ng-container *ngIf="isJoining; then joiningTemplate; else notJoiningTemplate"></ng-container>

    <ng-template #joiningTemplate>
        <app-game-card-buttons [joinableGameCard]="joinableGameCard"></app-game-card-buttons>
    </ng-template>

    <ng-template #notJoiningTemplate>
        <app-game-card-buttons [gameCard]="gameCard"></app-game-card-buttons>
    </ng-template>
</mat-card>
