.title-true {
    text-align: right;
}

.title-true,
.title-false {
    font-weight: bolder;
}

ul.highscores {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
}

.empty-scores {
    color: rgb(176, 176, 176);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}
