<div class="tool-container">
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.resetForeground(this.canvasType)">
        <mat-icon matTooltip="{{ 'TOOLBOX.RESET_FRONT' | translate }}" class="icon"> layers_clear </mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.pasteExternalForegroundOn(this.canvasType)">
        <mat-icon matTooltip="{{ 'TOOLBOX.PASTE' | translate }}" class="icon"> copy_all </mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="openUploadDialog()">
        <mat-icon matTooltip="{{ 'TOOLBOX.ADD' | translate }}">image</mat-icon>
    </button>
    <button mat-mini-fab color="primary" type="button" (click)="this.drawService.resetBackground(this.canvasType)">
        <mat-icon matTooltip="{{ 'TOOLBOX.RESET_BACK' | translate }}">image_not_supported</mat-icon>
    </button>
</div>
