.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error-info {
    font-size: 2rem;
    padding: 5vh;
}

.error-title {
    font-size: 3rem;
    font-weight: 700;
    padding: 5vh;
}

button {
    font-size: 2rem;
    padding: 2vh;
}

* {
    background-color: aliceblue;
}
