<div class="reset-password-container">
    <div class="form-wrapper">
        <h2>Réinitialisation du mot de passe</h2>
        <p>Veuillez entrer votre adresse e-mail ci-dessous pour recevoir les instructions de réinitialisation du mot de passe.</p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
            <mat-form-field>
                <mat-label>Votre adresse email</mat-label>
                <input matInput formControlName="email" required />
                <mat-error *ngIf="email?.errors?.['required']">Email est requis</mat-error>
                <mat-error *ngIf="email?.errors?.['email']">Veuillez entrer une adresse e-mail valide</mat-error>
            </mat-form-field>

            <button class="form-btn" mat-raised-button color="primary" type="submit">Envoyer</button>
        </form>
        <button class="form-btn" (click)="cancel()" mat-raised-button color="primary">Connexion</button>

        <div class="mat-error">{{ errorMessage }}</div>
    </div>
</div>
