<app-page-header></app-page-header>
<div class="grid-container">
    <div class="grid-item">
        <div *ngIf="user$ | async as user">Bienvenue, {{ user.displayName }}!</div>
        <h1 class="game-title">
            {{ 'MAINPAGE.TITLE' | translate }}
            <img src="assets/logoJdD.png" class="game-logo" alt="logo pour le jeux de différences" />
        </h1>
        <ul>
            <button class="optionsButton" mat-flat-button color="primary" (click)="toggleGameOptions()">Classique</button>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" (click)="onClickPlayLimited()">
                    {{ 'MAINPAGE.LIMITED_TIME' | translate }}
                </button>
            </li>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" routerLink="/admin">{{ 'MAINPAGE.ADMINISTRATION' | translate }}</button>
            </li>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" routerLink="/settings">{{ 'MAINPAGE.SETTINGS' | translate }}</button>
            </li>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" routerLink="/friends-req">test</button>
            </li>
        </ul>
        <h2 class="team-number">{{ 'MAINPAGE.TEAM' | translate }}</h2>
        <p><span>Jacob Taylor, </span> <span>Karim El Hosni, </span> <span>Thierry Beaulieu,</span></p>
        <p><span>Laurie Bédard-Côté, </span> <span>Xavier Jouslin.</span></p>
    </div>
    <app-game-logo></app-game-logo>
</div>
