<app-page-header></app-page-header>
<p>{{ 'main.welcomMsg' | translate }}</p>
<div class="grid-container">
    <div class="grid-item">
        <div *ngIf="user$ | async as user">{{ 'main.welcomMsg' | translate }} {{ user.displayName }}!</div>
        <h1 class="game-title">
            {{ title }}
            <img src="assets/logoJdD.png" class="game-logo" alt="logo pour le jeux de différences" />
        </h1>
        <ul>
            <li>
                <button class="optionsButton" mat-flat-button color="primary" routerLink="/select" (click)="onClickPlayClassic()">Classique</button>
            </li>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" (click)="onClickPlayLimited()">Temps limité</button>
            </li>
            <li>
                <button mat-flat-button class="optionsButton" color="primary" routerLink="/admin">Administration</button>
            </li>
        </ul>
        <h2 class="team-number">Equipe 106 :</h2>
        <p><span>Jacob Taylor, </span> <span>Karim El Hosni, </span> <span>Thierry Beaulieu,</span></p>
        <p><span>Laurie Bédard-Côté, </span> <span>Xavier Jouslin.</span></p>
    </div>
    <app-game-logo></app-game-logo>
</div>
