.game-title {
    font-size: 40px;
    margin-bottom: 7rem;
    margin-top: 2em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
}
.game-logo {
    padding-left: 2vw;
    width: 100px;
    font-size: 100px;
    height: 100px;
}
.grid-item {
    text-align: center;
    font-size: 3rem;
}
ul {
    list-style-type: none;
}
span {
    font-size: large;
    text-align: right;
}
p {
    text-align: right;
}
.optionsButton {
    margin-top: 2vh;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1, 5rem;
    width: 15em;
}
.grid-item > img {
    max-height: 90vh;
    max-width: 50vw;
}
.team-number {
    font-weight: 500;
    text-align: right;
}

