<div [ngClass]="{ 'indigo-pink-theme': theme === 'Default', 'deeppurple-amber-theme': theme === 'Alternative' }">
    <div *ngIf="!this.isClassic">
        <h1 mat-dialog-title>{{ 'GAME_OVER_DIALOG.TITLE' | translate }}</h1>
        <div mat-dialog-content [innerHTML]="'GAME_OVER_DIALOG.NOT_CLASSIC.MESSAGE' | translate: { nbPoints: nbPoints }"></div>
    </div>
    <div *ngIf="this.isWin && this.isClassic">
        <h1 mat-dialog-title>{{ 'GAME_OVER_DIALOG.TITLE' | translate }}</h1>
        <div mat-dialog-content>{{ 'GAME_OVER_DIALOG.CLASSIC.WINNER' | translate }}</div>
        <div *ngIf="isClassic" mat-dialog-content>{{ 'GAME_OVER_DIALOG.WON' | translate }}</div>
    </div>
    <div *ngIf="!this.isWin && this.isClassic">
        <h1 mat-dialog-title>{{ 'GAME_OVER_DIALOG.TITLE' | translate }}</h1>
        <div mat-dialog-content *ngIf="!this.gameInformationHandler.isObserver">{{ 'GAME_OVER_DIALOG.LOST' | translate }}</div>
        <div [innerHTML]="'GAME_OVER_DIALOG.CLASSIC.LOOSER' | translate: { winner: winner }" *ngIf="isClassic" mat-dialog-content></div>
    </div>
    <div *ngIf="this.index && this.time">
        <div [innerHTML]="'GAME_OVER_DIALOG.RANK' | translate: { time: time, index: index }" mat-dialog-content></div>
    </div>
    <div class="bottom-buttons">
        <div mat-dialog-actions align="end">
            <button
                *ngIf="isClassic && !this.gameInformationHandler.isObserver"
                mat-raised-button
                (click)="toggleReplay()"
                color="primary"
                mat-primary
            >
                {{ 'GAME_OVER_DIALOG.REPLAY' | translate }}
            </button>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-raised-button routerLink="/home" (click)="quitGame()" color="primary" mat-primary>
                {{ 'GAME_OVER_DIALOG.LEAVE' | translate }}
            </button>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-raised-button routerLink="/home" color="primary" (click)="sendEmail()" mat-primary>
                {{ 'GAME_OVER_DIALOG.EMAIL' | translate }}
            </button>
        </div>
    </div>
</div>
