<button class="fav-icon" mat-icon-button matTooltip="Quitter" (click)="onExit()">
    <mat-icon>home</mat-icon>
</button>

<ng-template #exitDialogContent>
    <div>
        <h1 mat-dialog-title>{{ exitButtonService.getTitle() }}</h1>
        <div *ngIf="exitButtonService.currentPage.waitingRoom; else otherPage">
            <div mat-dialog-content>{{ exitButtonService.getMessage() }}</div>
        </div>
        <ng-template #otherPage>
            <div mat-dialog-content>{{ exitButtonService.getMessage() }}</div>
        </ng-template>
        <div mat-dialog-actions align="end">
            <button mat-raised-button mat-dialog-close color="primary">{{ 'EXIT_BTN.CANCEL' | translate }}</button>
            <div *ngIf="exitButtonService.currentPage.game">
                <button color="primary" mat-button routerLink="/home" mat-dialog-close (click)="onQuiteGame()">
                    {{ 'EXIT_BTN.LEAVE' | translate }}
                </button>
            </div>
            <div *ngIf="exitButtonService.currentPage.createGame">
                <button mat-button routerLink="/admin" mat-dialog-close color="primary" (click)="onQuiteGame()">
                    {{ 'EXIT_BTN.LEAVE' | translate }}
                </button>
            </div>
            <div *ngIf="exitButtonService.currentPage.waitingRoom">
                <button mat-button routerLink="/home" mat-dialog-close color="primary" (click)="onLeaveWaiting()">
                    {{ 'EXIT_BTN.LEAVE' | translate }}
                </button>
            </div>
        </div>
    </div>
</ng-template>
