<mat-card-actions class="game-card-buttons">
    <button
        *ngIf="joinableGameCard && !joinableGameCard.isObservable"
        mat-flat-button
        color="primary"
        aria-label="Button Join"
        (click)="onClickJoinGame()"
    >
        Joindre
    </button>

    <button
        *ngIf="joinableGameCard && joinableGameCard.isObservable === true"
        mat-flat-button
        color="primary"
        aria-label="Button Observe"
        (click)="onClickObserveGame()"
    >
        Observer
    </button>

    <ng-container *ngIf="gameCard && !joinableGameCard">
        <div class="admin-buttons" *ngIf="gameCard.isAdminCard; else selectPage">
            <button
                mat-fab
                color="primary"
                matTooltip="{{ 'GAME_CARD_BTN.DELETE' | translate }}"
                aria-label="Boutton supprimer"
                (click)="onClickDeleteGame(gameCard)"
            >
                <mat-icon>delete</mat-icon>
            </button>
            <button
                mat-fab
                color="primary"
                matTooltip="{{ 'GAME_CARD_BTN.RESET' | translate }}"
                aria-label="Boutton réinitialiser"
                (click)="onClickRefreshGame()"
            >
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <ng-template #selectPage>
            <button mat-flat-button color="primary" aria-label="Boutton Créer" (click)="onClickCreateJoinGame()">
                {{ isMultiplayer() ? ('GAME_CARD_BTN.JOIN' | translate) : ('GAME_CARD_BTN.CREATE' | translate) }}
            </button>
        </ng-template>
    </ng-container>
</mat-card-actions>
