h2 {
    text-align: center;
}

mat-dialog-content {
    text-align: center;
    padding: 20px;
}

mat-dialog-actions {
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

button {
    margin: 0 10px;
}
