<div class="main-wrapper">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="goToList()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <span> {{ currentRoom }} </span>
    </mat-toolbar>
    <div class="chat-area" #scroll>
        <div *ngFor="let message of messages">
            <div class="message-wrapper">
                <div
                    [ngClass]="{
                        'message-wrapper-opponent': isOpponentMessage(message),
                        'message-wrapper-personal': isPersonalMessage(message)
                    }"
                >
                    <div *ngIf="isOpponentMessage(message)" class="user-name-wrapper">
                        <span class="user-name"> {{ message.user }}</span>
                        <div class="message-content opponent">
                            {{ message.message }}
                        </div>
                    </div>
                    <div *ngIf="isPersonalMessage(message)" class="message-content personal">
                        {{ message.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-form-field appearance="outline" class="input-area" style="margin-bottom: -1.25em">
        <input matInput placeholder="Entrez un message..." (keydown.enter)="sendMessage()" maxlength="200" [(ngModel)]="currentMessage" />
        <button mat-icon-button matSuffix (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</div>
