<main>
    <app-page-header [isHomeButtonEnabled]="true" [isSignOutButtonEnabled]="false" [headerMessage]="'Sélectionnez votre partie'"></app-page-header>
    <div style="padding-top: 20px"></div>
    <div class="card-display-container">
        <div class="cards-container" *ngIf="this.isClassic">
            <app-game-card *ngFor="let game of joinableClassicGames$ | async" [joinableGameCard]="game" [isJoining]="true"></app-game-card>
        </div>

        <div class="cards-container" *ngIf="!this.isClassic">
            <app-game-card *ngFor="let game of joinableLimitedGames$ | async" [joinableGameCard]="game" [isJoining]="true"></app-game-card>
        </div>
    </div>
</main>
