<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title> Create a new chat room </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline" class="input-area">
        <input matInput placeholder="Room Name" (keydown.enter)="createRoom()" [(ngModel)]="newRoom" [formControl]="formControl" />
        <button mat-icon-button matSuffix (click)="createRoom()">
            <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="formControl.hasError('roomError') || isInputEmpty || isRoomCreated"> {{ errorMessage }} </mat-error>
    </mat-form-field>
</mat-expansion-panel>
