:host {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
}

app-login-page {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

app-main-feed {
    flex-grow: 0;
    min-width: 100%;
    min-height: 100%;
}
