// Variables for colors
$primary-color: #333; // Dark gray
$secondary-color: #666; // Slightly lighter gray
$background-color: #fff; // Light gray background
$form-background: #dcdcdc; // White form background

.message {
    height: 100%;
    width: fit-content;
    max-width: 75%;
}

.message-body {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;
}

.message-body::before,
.message-body::after {
    bottom: -0.1rem;
    content: '';
    height: 1rem;
    position: absolute;
}

.message.message-user {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    color: $primary-color;
    margin-left: auto;
    height: 100%;
}

.message-body.message-user {
    background-color: #248bf5;
    color: #fff;
    justify-content: center;
    width: fit-content;
    max-width: 75%;
    height: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-left: auto;
}

.message.message-other {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    color: $primary-color;
    margin-right: auto;
    height: 100%;
}

.message-body.message-other {
    background-color: $form-background;
    width: fit-content;
    height: fit-content;
    word-wrap: break-word;
}

.username {
    text-align: left;
    width: fit-content;
    margin-left: auto;
}

.timestamp {
    text-align: right;
    width: fit-content;
    align-self: left;
    margin-left: auto;
}
