.timer-container {
    margin-bottom: 4vh;
}

.close-button {
    margin-right: 2vw;
}

.close-button {
    flex: 1;
}

.default-button {
    margin-right: 8vw;
}

.buttons-controls-container {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
}
