<section [ngClass]="favoriteTheme">
    <h2 class="title">Modifier les constantes de jeu</h2>

    <div class="main-timer-container timer-container">
        <app-game-constant-field
            [label]="'Temps de base du jeu (secondes)'"
            [value]="gameTimeConstants.gameTime"
            (valueChange)="gameTimeConstants.gameTime = $event"
            [min]="gameTimeConstantsParams.gameTimeMin"
            [max]="gameTimeConstantsParams.gameTimeMax"
            [step]="gameTimeConstantsParams.gameStep"
        ></app-game-constant-field>
    </div>

    <div class="success-timer-container timer-container">
        <app-game-constant-field
            [label]="'Temps bonus lors de la détection d\'une différence (secondes)'"
            [value]="gameTimeConstants.successTime"
            (valueChange)="gameTimeConstants.successTime = $event"
            [min]="gameTimeConstantsParams.successTimeMin"
            [max]="gameTimeConstantsParams.successTimeMax"
            [step]="gameTimeConstantsParams.penaltySuccessStep"
        ></app-game-constant-field>
    </div>

    <div class="penalty-timer-container timer-container">
        <app-game-constant-field
            [label]="'Temps de pénalité lors de la demande d\'une indice (secondes)'"
            [value]="gameTimeConstants.penaltyTime"
            (valueChange)="gameTimeConstants.penaltyTime = $event"
            [min]="gameTimeConstantsParams.penaltyTimeMin"
            [max]="gameTimeConstantsParams.penaltyTimeMax"
            [step]="gameTimeConstantsParams.penaltySuccessStep"
        ></app-game-constant-field>
    </div>

    <div class="buttons-controls-container">
        <button class="close-button control-button" mat-flat-button matTooltip="Fermer le menu" color="primary" mat-dialog-close>Fermer</button>
        <button
            class="default-button control-button"
            mat-flat-button
            matTooltip="Restaurer les valeurs par défaut"
            color="primary"
            [disabled]="isDefaultValues()"
            (click)="onClickRestoreDefaultValues()"
        >
            Défaut
        </button>
        <button
            class="change-button control-button"
            mat-flat-button
            matTooltip="Appliquer les changements"
            color="primary"
            (click)="setGameTimeConstants()"
            mat-dialog-close
        >
            Appliquer
        </button>
    </div>
</section>
