<section [ngClass]="{ 'indigo-pink-theme': currentTheme === 'Default', 'deeppurple-amber-theme': currentTheme === 'Alternative' }">
    <h2 class="title">{{ 'GAME_CONSTANTS.TITLE' | translate }}</h2>

    <div class="main-timer-container timer-container">
        <app-game-constant-field
            [label]="'GAME_CONSTANTS.BASE_TIME' | translate"
            [value]="gameTimeConstants.gameTime"
            (valueChange)="gameTimeConstants.gameTime = $event"
            [min]="gameTimeConstantsParams.gameTimeMin"
            [max]="gameTimeConstantsParams.gameTimeMax"
            [step]="gameTimeConstantsParams.gameStep"
        ></app-game-constant-field>
    </div>

    <div class="success-timer-container timer-container">
        <app-game-constant-field
            [label]="'GAME_CONSTANTS.BONUS_TIME' | translate"
            [value]="gameTimeConstants.successTime"
            (valueChange)="gameTimeConstants.successTime = $event"
            [min]="gameTimeConstantsParams.successTimeMin"
            [max]="gameTimeConstantsParams.successTimeMax"
            [step]="gameTimeConstantsParams.penaltySuccessStep"
        ></app-game-constant-field>
    </div>

    <div class="penalty-timer-container timer-container">
        <app-game-constant-field
            [label]="'GAME_CONSTANTS.PENALTY_TIME' | translate"
            [value]="gameTimeConstants.penaltyTime"
            (valueChange)="gameTimeConstants.penaltyTime = $event"
            [min]="gameTimeConstantsParams.penaltyTimeMin"
            [max]="gameTimeConstantsParams.penaltyTimeMax"
            [step]="gameTimeConstantsParams.penaltySuccessStep"
        ></app-game-constant-field>
    </div>

    <div class="buttons-controls-container">
        <button
            class="close-button control-button"
            mat-flat-button
            matTooltip="{{ 'GAME_CONSTANTS.CLOSE_MENU' | translate }}"
            color="primary"
            mat-dialog-close
        >
            {{ 'GAME_CONSTANTS.CLOSE' | translate }}
        </button>
        <button
            class="default-button control-button"
            mat-flat-button
            matTooltip="{{ 'GAME_CONSTANTS.DEFAULT' | translate }}"
            color="primary"
            [disabled]="isDefaultValues()"
            (click)="onClickRestoreDefaultValues()"
        >
            {{ 'GAME_CONSTANTS.DEFAULT_LABEL' | translate }}
        </button>
        <button
            class="change-button control-button"
            mat-flat-button
            matTooltip="{{ 'GAME_CONSTANTS.' | translate }}"
            color="primary"
            (click)="setGameTimeConstants()"
            mat-dialog-close
        >
            {{ 'GAME_CONSTANTS.APPLY' | translate }}
        </button>
    </div>
</section>
