<div class="search-container">
    <input type="text" [formControl]="searchControl" placeholder="{{ 'FRIENDS.SEARCH' | translate }}" class="search-input" />
    <div class="search-results" *ngIf="searchControl.value && (users$ | async) as users">
        <ng-container *ngFor="let user of users">
            <div class="user-item" *ngIf="user.uid !== currentUserId">
                <img [src]="user.photoURL" alt="Avatar" class="user-avatar" />
                <span class="user-name">{{ user.displayName }}</span>

                <div class="button-row">
                    <ng-container *ngIf="currentUserFriends$ | async as currentUserFriends">
                        <span class="friend-status" *ngIf="currentUserFriends.includes(user.uid)">{{ 'FRIENDS.FRIEND' | translate }}</span>
                        <button
                            mat-button
                            color="primary"
                            *ngIf="!currentUserFriends.includes(user.uid) && !friendRequestStatus[user.uid]"
                            (click)="sendFriendRequest(user)"
                        >
                            {{ 'FRIENDS.ADD' | translate }}
                        </button>
                        <button mat-button color="warn" *ngIf="friendRequestStatus[user.uid]" (click)="cancelFriendRequest(user)">
                            {{ 'FRIENDS.DELETE_REQUEST' | translate }}
                        </button>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>
