<div class="container">
    <mat-grid-list cols="3" rowHeight="15vh">
        <mat-grid-tile>
            <section class="game-infos">
                <p class="title"><strong> INFOS DU JEU</strong></p>
                <p [innerHTML]="'SIDEPAR.NAME' | translate: { gameName: gameName }"></p>
                <p [innerHTML]="'SIDEPAR.MODE' | translate: { gameMode: gameMode }"></p>
                <p [innerHTML]="'SIDEPAR.PENALTY' | translate: { penaltyTime: penaltyTime }" *ngIf="isSoloMode()"></p>
                <p [innerHTML]="'SIDEPAR.BONUS_TIME' | translate: { differenceTime: differenceTime }" *ngIf="isLimitedTimeMode()"></p>
            </section>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="middle-col">
                <app-clues-area *ngIf="!isMulti()"></app-clues-area>
                <app-timer-stopwatch></app-timer-stopwatch>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="differences-area">
                <app-differences-area> </app-differences-area>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
