<div class="container">
    <mat-grid-list cols="3" rowHeight="15vh">
        <mat-grid-tile>
            <section class="game-infos">
                <p class="title">
                    <strong>{{ 'SIDEBAR.GAME_INFO' | translate }}</strong>
                </p>
                <p [innerHTML]="'SIDEBAR.NAME' | translate: { gameName: gameName }"></p>
                <p [innerHTML]="'SIDEBAR.MODE' | translate: { gameMode: gameMode }"></p>
            </section>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="middle-col">
                <app-timer-stopwatch></app-timer-stopwatch>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="differences-area">
                <app-differences-area> </app-differences-area>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
