<div class="main">
    <div class="center-container">
        <div class="alert-container">
            <h2>Vérifiez votre e-mail</h2>
            <p>
                Nous avons envoyé un e-mail de vérification à <strong>{{ userEmail }}</strong
                >. Veuillez le vérifier et cliquer sur le lien pour vérifier votre compte.
            </p>
            <button mat-raised-button color="primary" (click)="sendEmailVerification()">Renvoyer l'e-mail de vérification</button>
            <button mat-raised-button color="primary" (click)="goToLoginPage()">Retour</button>
        </div>
    </div>
</div>
