<div class="containerSpaceBetween">
    <div class="header3">{{ title }}</div>
    <div>
        <div class="avatar-container">
            <div *ngFor="let avatarImage of avatarImages">
                <img
                    class="avatar list"
                    [src]="avatarImage.imagePath"
                    alt="{{ avatarImage.fileName }}"
                    [class.active]="avatarImage.active"
                    (click)="toggleBorder(avatarImage)"
                />
            </div>
            <img
                class="avatar profile"
                [src]="userAvatar.imagePath"
                alt="avatar"
                [class.active]="userAvatar.active"
                (click)="toggleBorder(userAvatar)"
            />
            <div class="user-avatar">
                <img class="user-camera" [src]="userCamera" alt="avatar" (click)="editAvatar()" />
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" />
            </div>
        </div>
        <div class="selected-section">
            <img class="selected-img" [src]="selectedAvatar.imagePath" alt="avatar" />
        </div>
    </div>
    <div class="submit-btn">
        <button mat-raised-button color="primary" (click)="onSubmit()">Enregistrer</button>
    </div>
</div>
