<main [ngClass]="favoriteTheme">
    <h2 mat-dialog-title>{{ 'APPROUVAL_DIALOG.PLAYER_FOUND' | translate }}</h2>
    <div [innerHTML]="'APPROUVAL_DIALOG.PLAY_AGAINST_PLAYER' | translate: { opponentsName: opponentsName }" mat-dialog-content></div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial color="primary" (click)="onClickReject()">{{ 'APPROUVAL_DIALOG.NO' | translate }}</button>
        <button mat-button mat-dialog-close color="primary" (click)="onClickApprove()">{{ 'APPROUVAL_DIALOG.YES' | translate }}</button>
    </div>
</main>
