.third-clue {
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
    font-size: large;
}

.canvas {
    z-index: 0;
    position: relative;
    box-shadow: 0px 0px 0px 2px black;
    width: 640px;
    height: 480px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.img {
    z-index: -1;
    position: absolute;
    width: 640px;
    height: 480px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.grid-container {
    display: flex;
}
